<%= form_with(model: animal) do |form| %>
  <% if animal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
        <% animal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :petname, style: "display: block" %>
    <%= form.text_field :petname %>
  </div>

  <div>
    <%= form.label :ppname, style: "display: block" %>
    <%= form.text_field :ppname %>
  </div>

  <div>
    <%= form.label :species, style: "display: block" %>
    
    <%= form.select :species, options_for_select([['Horse', 'horse'], ['Dog', 'dog'], ['Pony', 'pony']]), id: :species %>

  </div>

  <div>
    <%= form.label :food, style: "display: block" %>
    <%= form.text_field :food %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <div>
    <%= form.label :last_vaccine_applied, style: "display: block" %>
    <%= form.date_field :vaccineapplied %>
  </div>

  
 <% if user_signed_in? %>
  <div>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
<% elsif venue_signed_in? %>
  <div>
    <%= form.hidden_field :venue_id, :value => current_venue.id %>
  </div>
<% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
